{% extends 'base.html' %}

{% block content %}

<table class="table table-hover table-bordered custom-table">
    <thead class="table">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Specialism</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
    {% if list_doctors %}
        {% for doctor in list_doctors %}
        <tr>
            <td>{{ doctor.doctor_first_name }} {{ doctor.doctor_last_name }}</td>
            <td>{{ doctor.doctor_email_address }} </td>
            <td>{{ doctor.doctor_specialism }} </td>
            <td><a href="{% url 'record_doctor' doctor.id %}">View Details</a></td>           
        </tr>
    {% endfor %}
{% endif %}

</table>

<a href="{% url 'add_doctor' %}" class ="btn custom-btn">Add Doctor</a>

{% endblock %}