{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        {{ user_record.first_name }} {{ user_record.last_name }}
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Email: </strong>{{ user_record.email }}<br/>
        <strong>OpCo: </strong>{{ user_record.opco }}<br/>
        <strong>Department: </strong>{{ user_record.department }}<br/>
        <strong>Created Date: </strong>{{ user_record.created_at }}<br/>
        <strong>Unique ID: </strong>{{ user_record.id }}<br/>
      </p>

    </div>
  </div>

  <br><br/>
  <a href="{% url 'home' %}" class ="btn btn-secondary">Back</a>

  <a href="{% url 'delete_user_record' user_record.id %}" class ="btn btn-danger">Delete</a>

  <a href="{% url 'update_user_record' user_record.id %}" class ="btn btn-danger">Update</a>


{% endblock %}